.footer{
    background-color: black;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#copy{
    background-color: white;
    border-radius: 13px;
    margin-right: 1em;
}